body {
    background-color: aqua;

}
    <STYLE TYPE="text/css">
BODY {background-image: url(background.gif); background-repeat: no-repeat; background-position: 200px 200px; background-attachment: fixed;}
</STYLE>
